<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<h1>Дмитрий Ромов</h1>
<img src="../static/Dima.png" /><br>
<br>
<strong>Привет, я <a href="https://www.linkedin.com/in/dmitry-romov-a70381157/?original_referer=https%3A%2F%2Fno%2Elinkedin%2Ecom%2F&originalSubdomain=no">Дмитрий Ромов</a> и это моя страничка.</strong><br>
<br>
На ней я буду публиковать <s>свои стихи и рассказы</s> свой код и ссылки на GitHub<br>
<br>
Ещё тут вы сможете найти  мои рисунки, которые я иноглда делаю.<br>
<br>
Сразу <u>скажу</u>, рисунки мои <em>великолепны</em>, так как у <mark>меня золотые ручки</mark>
